@charset 'utf-8';
*{
	box-sizing: border-box;
	font-family: 'Segoe UI', 'Verdana';
	margin: 0px;
	padding: 0px;
}
body{
	background: rgb(248, 248, 248);
}
.clear{
	clear: both;
}
header{
	background: #fff;
	box-shadow: 0px 1px 2px #999;
	height: 80px;
	position: fixed;
	top: 0px;
	width: 100%;
}
#logo{
	float: left;
	height: 42px;
	margin: 19px 10px;
	width: 180px;
}
nav ul{
	float: left;
	height: 60px;
	list-style-type: none;
	margin: 10px;
}
nav li{
	float: left;
	padding: 0px 20px;
}
nav li a{
	color: #aaa;
	font-size: 18px;
	line-height: 60px;
	text-decoration: none;
}
nav li a:hover{
	color: #888;
}
header form{
	float: left;
	height: 80px;
}
header form input{
	border: 1px solid #ddd;
	border-radius: 4px;
	font-size: 16px;
	height: 40px;
	margin: 20px;
	padding: 0px 10px;
	width: 400px;
}
.container{
	margin: 90px 0px;
	padding: 10px 30px;
	width: 100%;
}
#pageTitle{
	background: #fff;
	border: 1px solid #eee;
	height: 60px;
	padding: 0px 1%;
	width: 100%;
}
#pageTitle h1{
	color: #666;
	font-size: 22px;
	font-weight: 500;
	line-height: 58px;
}
#videos{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 0px;
}
.video{
	background: #fff;
	border: 1px solid #eee;
	height: 340px;
	margin: 10px 10px 10px 0px;
	padding: 2px;
	width: 342px;
}
.video iframe{
	height: 185px;
	width: 100%;
}
.video h4 {
	font-size: 16px;
	margin: 10px;
}
.video h4 a{
	color: #444;
	text-decoration: none;
}
.video p{
	color: #666;
	font-size: 14px;
	margin: 10px;
}
#oneVideoContainer{
	margin: 20px 0px;
}
.oneVideo{
	background: #fff;
	border: 1px solid #eee;
	height: 800px;
	padding: 2px;
	width: 1126px;
}
.oneVideo iframe{
	height: 630px;
	width: 100%;
}
.oneVideo h2{
	color: #444;
	font-size: 22px;
	margin: 20px;
}
.oneVideo p{
	color: #666;
	font-size: 18px;
	margin: 20px;
}
.addVideo{
	background: #fff;
	border: 1px solid #eee;
	margin-top: 20px;
	padding: 20px 0px;
	width: 100%;
}
.formGroup{
	margin: auto;
	width: 800px;
}
.formGroup label{
	float: left;
	line-height: 30px;
	margin: 10px 0px;
	width: 200px;
}
.addVideoText{
	border: 1px solid #ddd;
	border-radius: 4px;
	float: right;
	line-height: 30px;
	margin: 10px 0px;
	max-width: 600px;
	min-width: 600px;
	padding: 0px 10px;
	width: 600px;
}
.addVideoButton{
	background: #4b2;
	border: none;
	border-radius: 4px;
	color: #fff;
	float: right;
	font-size: 16px;
	margin: 10px 0px;
	padding: 6px 12px;
}
.button{
	background: #4b2;
	border-radius: 4px;
	color: #fff;
	font-size: 16px;
	margin: 20px;
	padding: 6px 12px;
	text-decoration: none;
}
.addVideoButton:hover, .button:hover{
	background: #4c2;
	cursor: pointer;
}
#errors{
	background: #c32;
	border-radius: 4px;
	margin: 10px 0px;
	padding: 10px;
	width: 800px;
}
#errors ul{
	list-style-type: none;
}
#errors ul li{
	color: #fff;
}